/**
 * Web Elements grid
 * Attempt to be the less intrusive as possible
 *
 */
.lkt-element {
    position: relative;
}

.lkt-element-actions {
    margin-left: auto;
    align-self: flex-start;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.lkt-element:hover > .lkt-element-actions,
.lkt-elements-table:hover + .lkt-element-actions,
.lkt-elements-table + .lkt-element-actions:hover
{
    opacity: 1;
}

.lkt-element-actions .lkt-button {
    --lkt-button--min-width: auto;
    --lkt-button--padding: 0 5px;
    --lkt-button--text-align: left;
    justify-content: flex-start;
    z-index: 5;
}

.lkt-element-editable-text {
    min-width: 50px;
    white-space: pre-wrap;
    display: block;
    outline: none;
}

.lkt-element-actions .lkt-tooltip {
    --lkt-tooltip-min-width: 250px;
}

.lkt-elements-table .lkt-table {
    --lkt-table-border-collapse: separate;
    --lkt-table-border-spacing: 0 10px;
}

.layout-mode tbody tr {
    display: flex;
    flex-direction: row;
}
.lkt-elements-table td:not([data-role="drag-indicator"]) {
    width: 100%;
}

.lkt-elements-table--default-grid > *:not(:first-child) {
    margin-top: 15px;
}


/**
 * Config modal
 */
.lkt-web-element-config-modal,
.lkt-file-browser {
    --lkt-modal-max-width-default: 100%;
    --lkt-modal-width-default: 100%;
    --lkt-modal--inner--width: 100%;
    --lkt-modal--inner--max-width: 100%;
}

.lkt-web-element-config-modal .lkt-modal-back,
.lkt-file-browser .lkt-modal-back {
    display: none;
}

.lkt-web-element-config-modal .lkt-modal-inner,
.lkt-file-browser .lkt-modal-inner {
    height: 100%;
    margin: 0;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.lkt-web-element-config-modal .lkt-modal-header,
.lkt-file-browser .lkt-modal-header {
    max-height: 50px;
}

.lkt-web-element-text-editor-buttons {
    --lkt-grid--gap: 10px;
    --lkt-grid-gap: 10px;
}

.lkt-web-element-text-editor-buttons .lkt-button {
    --lkt-button--width: auto;
    --lkt-button--min-width: 100%;
    --lkt-button--padding: 0;
    --lkt-button--justify-content: center;
    --lkt-button--align-items: center;
    --lkt-button--display: flex;
}

.lkt-web-element-config-scroller {
    max-height: 85vh;
    overflow-y: scroll;
}

/**
 * File browser
 */
.lkt-file-browser .lkt-menu .lkt-anchor {
    --lkt-anchor--justify-content: flex-start;
}

.lkt-file-entity-main {
    height: 102px;
    position: relative;
}

.lkt-file-entity-main .lkt-image {
    --lkt-image--height: 100%;
    --lkt-image--max-height: 100%;
    --lkt-image--img--max-height: 40px;
    --lkt-image--justify-content: center;
    --lkt-image--width: 100%;
}

.lkt-file-entity-picked-indicator {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: #fff;
    border-radius: 4px;
}

.lkt-web-elements {
    position: relative;
}